/*  author: DrummerHead  */

body,
html {
  margin: 0;
  padding: 0;
}
body {
  background-color: #c8d1d0; 
  background-image: url(../img/alum.png);
}
::-moz-selection {
  background: transparent;
  text-shadow: none;
}
::selection {
  background: transparent;
  text-shadow: none;
}
.night {
  background-color: #3b3e3f; 
  background-image: url(../img/alum-night.png);
}
#main {
  width: 1231px;
  margin: 0 auto;
  position: relative;
}
#keyboard {
  width: 1215px;
  height: 540px;
  padding: 75px 0 0 16px;
  margin: 0;
  background-repeat: no-repeat;
  background-position: 0 -220px;
  list-style-type: none;
  z-index: 5;
  position: relative;
}
@font-face {
  font-family: keyboard;
  src: url('../fonts/keyboard.otf') format('opentype');
}
li,
.key {
  width: 47px;
  height: 69px;
  border-radius: 8px;
  padding: 0 12px;
  line-height: 69px;
  float: left;
  position: relative;
  margin: 0 12px 12px 0;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-family: keyboard, "Arial Rounded", Helvetica, Arial, sans-serif;
  font-size: 24px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
li:active,
.key:active {
  top: 2px;
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.5);
}
.night li,
.night .key {
  box-shadow:   0    1px 0   rgba(255, 255, 255, .6),
                0    1px 4px rgba(255, 255, 255, .3);
  text-shadow:  2px  2px 3px rgba(255, 255, 255, .4),
               -2px  2px 3px rgba(255, 255, 255, .4),
                2px -2px 3px rgba(255, 255, 255, .4),
               -2px -2px 3px rgba(255, 255, 255, .4);
}
.night li:active,
.night .key:active {
  box-shadow:   0    0px 0   rgba(255, 255, 255, .6),
                0    0px 4px rgba(255, 255, 255, .3);
}
ol li span {
  display: block;
  height: 14px;
  line-height: 42px;
}
.special {
  height: 53px;
  padding-top: 16px;
  font-size: 16px;
}
.special span {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 12px;
  height: auto;
  line-height: 36px;
  font-size: 13px;
}
.tall {
  height: 62px;
}
.special.tall {
  height: 51px;
  padding-top: 28px;
}
.less-padding {
  padding: 0 8px;
  width: 55px;
}
.less-padding span {
  padding: 0 8px;
}
.r {
  text-align: right;
}
.l {
  text-align: left;
}
#delete {
  width: 96px;
}
#tab {
  width: 96px;
}
#caps-lock {
  width: 114px;
}
#enter {
  width: 112px;
}
.shift {
  width: 154px;
}
.shift.r {
  width: 155px;
}
.command {
  width: 71px;
}
.command span {
  font-size: 24px;
  line-height: 44px;
}
#space {
  width: 379px;
}
.arrow {
  height: 38px;
  line-height: 38px;
  margin: 0 12px 3px 0;
  font-size: 20px;
}
.up {
  margin: 0 83px 3px;
  border-radius: 8px 8px 0 0;
}
.down {
  border-radius: 0 0 8px 8px;
}

#lightswitch {
  position: absolute;
  top: 9.9em;
  right: -10em;
  width: auto;
  font-family: keyboard, "Arial Rounded", Helvetica, Arial, sans-serif;
}
#lightswitch:active {
  top: 10em;
}
#lightswitch span {
  display: inline;
  font-size: 4em;
  line-height: inherit;
  vertical-align: middle;
  color: #444;
}
.night #lightswitch span {
  color: #0f0;
  text-shadow: 0 0 3px #0f0;
}
